@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (prefers-color-scheme: light) {}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 750px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    background: #fff8ee;
}

.avatar {
    width: 200px;
    height: 266px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info {
    margin-bottom: 10px;
    display: flex;
}

.info-text {
    margin-right: 40px;
    margin-bottom: 5px;
}

.info-text p {
    color: grey;
    margin: 5px;
}

.info-text h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.contacts {
    display: flex;
}

.contacts1 {
    margin-right: 40px;
    margin-bottom: 10px;
}

.social_network img:hover {
    opacity: 0.6;
}

@media (max-width: 590px) {
    .info {
        display: block;
        text-align: center;
    }
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.bg-work {
    background: #eefff8;
}

.bg-work h4 {
    margin: 5px;
}

.bg-work p {
    margin: 5px;
}

.hr {
    height: 1px;
    background-color: grey;
    margin: 20px 0px 20px 0px;
}

.br20 {
    height: 10px;
}

.bg-work ul {
    margin-top: 5px;
    margin-bottom: 10px;
}

.grey {
    color: grey;
}

ul.no_marker li:before {
    counter-increment: unset;    
    content: "\2713";   
    color: red;   
    font-size: 20px;   
    margin: 0px 10px 0 10px;   
}
    
ul.no_marker li {
    display: block;
}    

.skills {
    background: #f8eeff;
}

.education {
    background: #f8eeff;
}

.education h4, p {
    margin: 5px;
}

.bg-courses {
    background: #eefff8;
}

.portfolio {
    background: #f8eeff;
}

.portfolio h3 {
    margin: 5px;
}

.link_portfolio {
    text-decoration: underline;
}

.link_portfolio:hover {
    opacity: 0.8;
}

.about {
    background: #eefff8;
}

.about p {
    margin: 10px 5px 10px 5px;
}

.about ul {
    margin: 5px;
}

.list {
    padding: 0 20px;
}

list li {
    color: #86898f;
    margin-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
